# Ignore .NET build output
**/bin/**
**/obj/**

# Ignore NuGet packages
**/packages/**
**/.vs/**

# Ignore user-specific settings
*.userprefs
*.suo
*.sln.docstates
# Ignore Visual Studio temporary files
_ReSharper.*
vssver.scc
*.vspscc
*.vssscc
vs/
# Ignore Rider-specific files (if you use Rider)
.idea/