# Ignore appsettings files
appsettings*.json

# Ignore Logs directory
Logs/

# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code settings
.vscode/

# Rider settings
.idea/

# NuGet packages
*.nupkg
packages/

# Debug logs
*.log

# OS junk files
.DS_Store
Thumbs.db
